Author: SUNNY BHAVEEN CHANDRA

For more information - 
- [1] Python notes-
    https://c17hawke.github.io/Python/

- [2] Python YouTube Playlist- 
    https://youtube.com/playlist?list=PLrdaCCBhU_hnxIzB7EJlY-pfYOMGRycAK

# Data-types

- In programming, the concept of data type is crucial. A data type defines the kind of value a variable can hold and the operations that can be performed on it. 
- Python, like many other programming languages, has several built-in data types that are used to handle common data such as 
    - numbers, 
    - text, and 
    - collections of items. 
- These data types are the building blocks of any program and understanding them is essential for writing efficient and effective code.

Python has several built-in data types, which fall into the following categories:


| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| Text      | `str`                              | text                |
| Numeric   | `int`, `float`, `complex`          | numbers             |
| Sequence  | `list`, `tuple`, `range`           | collection of items |
| Mapping   | `dict`                             | collection of items |
| Set       | `set`                              | collection of items |
| Boolean   | `bool`                             | boolean             |
| None      | `NoneType`                         | NA/NULL type        |

## Let's Identify the type of different variables-
by using inbuilt `type()` function:

---

### Text category

| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| Text      | `str`                              | text                |

#### `string` data-type

- Anything which is inside a double or single quotes will be treated as string in python
- examples can be (in a double or single quotes)
    - a single character, 
    - a word,
    - a sentence, or
    - a number,

In [1]:
name = "Sunny"
print(name)
print(type(name))

Sunny
<class 'str'>

In [2]:

sentence = "Sunny is a life long student"
print(sentence)
print(type(sentence))

Sunny is a life long student
<class 'str'>

In [3]:
sentence = 'single quote example'
print(sentence)
print(type(sentence))

single quote example
<class 'str'>

In [4]:
character = "S"
print(character)
print(type(character))

S
<class 'str'>

In [5]:
x = "1234"
print(x)
print(type(x))

1234
<class 'str'>

In [6]:
x = "12.34"
print(x)
print(type(x))

12.34
<class 'str'>

---

### Numeric category

| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| Numeric   | `int`, `float`, `complex`          | numbers             |


#### `int` data type
- `int` represents a pure integers it can be negative or positive integers

In [7]:
x = 1234
print(x)
print(type(x))

1234
<class 'int'>

In [8]:
x = -1234
print(x)
print(type(x))

-1234
<class 'int'>

In [9]:
x = 0
print(x)
print(type(x))

0
<class 'int'>

#### `float` data type
- `float` represents a pure decimal numbers it can be positive or negative decimal numbers

In [10]:
x = 12.34
print(x)
print(type(x))

12.34
<class 'float'>

In [11]:
x = -12.34
print(x)
print(type(x))

-12.34
<class 'float'>

In [12]:
x = 0.0
print(x)
print(type(x))

0.0
<class 'float'>

#### `complex` data-type
- `complex` represents a complex numbers

[Reference](https://ncert.nic.in/ncerts/l/kemh105.pdf)

In [13]:
z = 1 + 2j
print(z)
print(type(z))
print(f"real part of {z} => {z.real}")
print(f"imaginary part of {z} => {z.imag}")

(1+2j)
<class 'complex'>
real part of (1+2j) => 1.0
imaginary part of (1+2j) => 2.0

---

### Sequence category

| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| Sequence  | `list`, `tuple`, `range`           | collection of items |

#### `list` data-type

In [14]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x)
print(type(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [15]:
x = ["item1", "item2", "item3"]
print(type(x))

<class 'list'>

#### `tuple` data-type

In [16]:
x = (1,2,3,4,5,6,7,8,9,10)
print(x)
print(type(x))

In [17]:
x = ("item1", "item2", "item3")
print(type(x))

<class 'tuple'>

---

### Mapping category

| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| Mapping   | `dict`                             | collection of items |


#### `dict` data-type

In [18]:
x = {
    "key": "value",
    "key_1": "value_1",
}

print(type(x))

<class 'dict'>

---

### Set category

| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| Set       | `set`                              | collection of items |

#### `set` data-type

In [19]:
x = {1,2,3,4,5,6,7,8,9,10}
print(x)
print(type(x))

x = {1,2,3,4,5,6,7,8,9,9,9,9,9,9,10}
print(x)
print(type(x))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

---

### Boolean category

| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| Boolean   | `bool`                             | boolean             |

#### `bool` data-type

In [20]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [21]:
x = False
print(x)
print(type(x))

False
<class 'bool'>

---

### None/Null category

| Category  | Common Data Types                  | Description         |
|-----------|------------------------------------|---------------------|
| None      | `NoneType`                         | NA/NULL type        |

#### `NoneType` data-type

In [22]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

## Example from School records or marksheets

In [23]:
name_of_student = "Sunny"
print(name_of_student)
print(type(name_of_student))

Sunny
<class 'str'>

In [24]:
roll_no = 12
print(roll_no)
print(type(roll_no))

12
<class 'int'>

In [25]:
percentage_of_marks = 75.2
print(percentage_of_marks)
print(type(percentage_of_marks))

75.2
<class 'float'>

In [26]:
student_1_data = {
    "name_of_student": "Sunny",
    "roll_no": 12,
    "percentage_of_marks": 75.2
}
print(student_1_data)
print(type(student_1_data))

{'name_of_student': 'Sunny', 'roll_no': 12, 'percentage_of_marks': 75.2}
<class 'dict'>

In [27]:
list_of_subjects = [
    "English", 
    "Maths", 
    "Science", 
    "Social Science", 
    "Hindi"
    ]
print(list_of_subjects)
print(type(list_of_subjects))

['English', 'Maths', 'Science', 'Social Science', 'Hindi']
<class 'list'>

In [28]:
passing_status = False
print(passing_status)
print(type(passing_status))

False
<class 'bool'>

In [29]:
practical_marks_in_English = None
print(practical_marks_in_English)
print(type(practical_marks_in_English))

None
<class 'NoneType'>

## Example from Amazon Ecommerce website -

In [30]:
name_of_product = "Hands on Machine Learning"
cost_of_product = 3000
one_day_delivery = False
rating_of_product = 4.7
reviews_of_product = [
    "Book is good",
    "Book is average",
    "Book is excellent"
]

product_info = {
    "name_of_product": "Hands on Machine Learning",
    "cost_of_product": 3000,
    "one_day_delivery": False,
    "rating_of_product": 4.7,
    "reviews_of_product": [
                        "Book is good",
                        "Book is average",
                        "Book is excellent"
                    ]
}

### ASSIGNMENT: Find out the data-type of each variable above as an assignment